*{ padding:0px;
   margin: 0px;




}

body{
display:flex;
background-color: aqua;
min-height: 50%;
justify-content: center;
text-align: center;



}

h2{

font-weight:100%;
text-align: center;
margin: 10px;

}

.login-container{
  margin: 50px;
  background-color: white;
  padding: 30px;


}

.form-group{
       margin-bottom: 20px;
}

input{
width: 100%;

}

button{
width: 100%;
background-color: green;
color: white;
}

.error{
color: red;

}

.success{
color:green;
}



